@import 'styl/box.styl'
@import 'styl/form.h4p.styl'

form
  &>button
    margin 1em 2em 1.9em

  &>input
    margin 1em 2em 0
    width auto !important

  :global(&>b)
    margin 0.5em 2em 0

  :global(&>b>a)
    display inline-block
    margin 0
