@import 'styl/input.styl'
@import 'styl/button.styl'
@import 'styl/checkbox.styl'
@import 'styl/form.styl'

form
  p
    align-items center
    display flex
    margin 0

  :global(&>b)
    margin 0.5em 2em 0.2em

  &>p
    background svg-dash 0 100% repeat-x
    overflow hidden
    padding 0 2em 1em
    user-select none

    &>b
      background #eee
      color #999
      cursor sw-resize
      font-weight 700
      line-height 18px
      margin-top 1em
      padding 1em
      text-align center
      width 100%

    &>button
      flex 1
      white-space nowrap

      &:last-child
        margin-left 1em

      &.a
        background transparent
        border-bottom 8px solid var(--u-color)
        box-sizing border-box
        color var(--u-color)
        flex 0
        padding 16px 0 8px

        &:hover, &:focus-visible
          background-image btn-bg-img
          background-position right center
          background-size 200% auto
          border-width 0
          color btn-hover-color
          padding 1em

  &>footer
    align-items center
    display flex
    font-size 14px
    justify-content space-between
    user-select none

    &>a, &>p
      margin 16px 32px

    &>a
      margin-left 0

    &>p
      margin-right 16px

      input[type=checkbox]
        margin-right 5px

      a
        border-bottom 1px solid #ccc
        margin-bottom -2px
        margin-left 3px
        padding-bottom 2px
        white-space nowrap

    a, &
      color #999

      &:hover
        border-color hover-color

    &>a:last-child
      text-align right
