@import 'styl/base.styl'
@import 'styl/input.styl'
@import 'styl/ing.styl'

main
  display grid
  grid-template-columns min-content auto 55px

main>a, main>u, form>b
  width 55px

a
  cursor pointer

a, u, b
  user-select none

i
  &>a
    border-bottom 1px solid #000
    padding-bottom 5px

    &:hover
      border-color #f40

main
  &>b, &>i
    background svg-dash 0 0 repeat-x
    padding 16px

  &>b
    padding-right 0
    text-align right
    white-space nowrap

main
  &>a
    background svg-pen 50% 50% / 20px no-repeat, svg-dash-h 0 0 repeat-y, svg-dash 0 0 repeat-x

    &:hover
      background svg-pen-w 50% 50% / 20px no-repeat #f40

  &>u
    background svg-wait 50% 50% / 48px no-repeat, svg-dash-h 0 0 repeat-y, svg-dash 0 0 repeat-x

  &>form
    display flex
    grid-column 1 / span 3
    justify-content space-between

    &>u
      flex 1
      list-style none
      margin 16px
      position relative

form>b
  background svg-dash-h 0 0 repeat-y, svg-dash 0 0 repeat-x
  display inline-block
  height 100%
  padding 0

  &>a
    display block
    height 50%
    position relative
    width 100%

    &:before
      content ''
      height 14px
      left 50%
      margin-left -(@height / 2)
      margin-top -(@height / 2)
      position absolute
      top 50%
      width @height

    &:first-child:before
      background #390
      clip-path polygon(0 51%, 38% 73%, 100% 0, 100% 35%, 44% 100%, 0 74%)

    &:last-child
      background svg-dash 0 0 repeat-x

      &::before
        background #999
        clip-path polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%)

    &:hover
      background-color #f40

      &:before
        background-color #fff
