@import 'styl/base.styl'

a
  align-self center
  color #999
  cursor pointer
  display flex
  font-size 14px
  justify-content center
  margin 1em 0 0

  &:hover
    color #f40

i
  color #080
  display block
  font-size 14px
  font-weight bold
  margin-top 1em
  text-align center
